

<div class="col-md-offset-0 col-md-12 temp" style="margin-top:60px;border:1px solid #ff2a00;">


  <div style="border-right:1px solid #ddd;" class="col-md-offset-2 col-md-2">
    asda
  </div>

  <div class="col-md-5 col-md-offset-5">
    <div class="row" style="border-bottom:1px solid #eee;">
      <h3 class="text-center">与曾聊天中</h3>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-5" style="height:420px;overflow: hidden;border:1px solid #ccc;">
      内容
  </div>

  <div class="col-md-5 col-md-offset-5" style="margin-top:20px;">
    <textarea name="" style="resize:vertical;" class="form-control" id="" cols="20" rows="3"></textarea>
  </div>

  <div class="col-md-5 col-md-offset-5" style="margin-top:10px;">
    <span class="pull-left" style="color:#666;">enter键发送</span>
    <input type="button" class="sendBtn pull-right" value="发送">
  </div>

</div>
